{% extends "basePerfil.html" %}
{% block content %}
{% load staticfiles %}

<section class="Calendario">
    <div class="container">
        <div class="row align-items-center con-fav-row">
            <div class="col-lg-4 col-md-4" id="none-list">
                <h5 class="tit-perf">Mi Perfil</h5>
                <ul class="list-nav-per">
                    <li><a href="/PerfilUsuario/" class="enlc-nav"><label class="line-dark"></label> Editar mi Perfil</a></li>
                    <li><a href="/Favoritos/" class="enlc-nav"><label class="line-dark"></label> Mis favoritos</a></li>
                    <li><a href="/Suscripciones/" class="enlc-nav "><label class="line-dark"></label> Mis Suscripciones</a></li>
                    <li><a href="/Mis-tarjetas/" class="enlc-nav "><label class="line-dark"></label> Mis Tarjetas</a></li>
                    <li><a href="/Calendario/" class="enlc-nav enlc-nav-active "><label class="line-dark active-link"></label> Calendario</a></li>
                    <li><a onclick="logout(),signOut()" class="enlc-nav "><label class="line-dark"></label> Cerrar Sesión</a></li>
                </ul>
            </div>
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-6 col-md-7">
                <div class="col-12 col-sm-12 text-center cont-mob-cat">
                    <h5 class="tit-cat">
                            Calendario
                    </h5>
                </div>
                <div id="dncalendar-container"></div>
                <p class="text-calendar">
                    En este calendario puedes verificar tu registro de asistencia. Así podrás estar al tanto de los días asistidos durante el mes que selecciones.
                </p>
                <p class="text-center text-dias">
                    <label class="color-circle"></label>Dias asistidos
                </p>
            </div>
        </div>
    </div>
</section>

{%endblock%}