{% extends "baseAdmin3.html" %}
{% block content %}
{% load staticfiles %}
<section class="reporteros">
    <div class="container">
        <div class="row">
                <div class="col-lg-4 col-md-4">
                    <!-- <a href="/homeAdminReportes/" class="btn-atras">
                        <i class="fa fa-chevron-left color-atras"></i>
                    </a> -->
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <h4 class="titulo-prin">Reportes</h4>
                    <h5 class="titulo-sec" style="text-align:center">{{sucursal}}</h5>
                    <h6 class="titulo-sec" style="text-align:center">Visitas <br>{{inicioF|date:'d-m-Y'}} al {{finalF|date:'d-m-Y'}}</h6>
                </div>
                <div class="col-lg-4 col-md-4"></div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6" style="text-align:left">
                        <form action="/filtrarReporte/" method="post" enctype="multipart/form-data" autocomplete="off">
                            {% csrf_token %}
                            <input type="hidden" name="inicio" value="{{inicio}}">
                            <input type="hidden" name="final" value="{{final}}">
                            <input type="submit" value="Atrás" class="btn btn-sm btn-secondary">
                        </form>
                    </div>
                    <div class="col-md-6" style="text-align:right">
                        {%if visitas%}
                            <a href="/filtrarReporte/excel/sucursal/{{sucursal.id}}/visitas/inicio={{inicio}}/final={{final}}/" download="Reporte_Sucursal_{{sucursal.id}}_Visitas_{{inicioF|date:'d-m-Y'}}_al_{{finalF|date:'d-m-Y'}}" class="btn btn-sm btn-success">Excel</a>
                        {%endif%}
                    </div>
                </div>
            </div>
            <div class="col-md-12"><br></div>
            {%if visitas%}
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="tabla-head">
                                <tr>
                                    <th>ID</th>
                                    <th>Cliente</th>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                </tr>
                            </thead>
                            <tbody class="tabla-body">
                                {%for v in visitas%}
                                    <tr>
                                        <td>{{v.id}}</td>
                                        <td>{{v.cliente.nombre}} {{v.cliente.apellido}}</td>
                                        <td>{{v.fecha|date:'d-m-Y'}}</td>
                                        <td>{{v.hora|time:'h:i a'}}</td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            {%else%}
                <div class="col-md-12">
                    <p style="text-align:center">No hay resultados.</p>
                </div>
            {%endif%}
        </div>
    </div>
</section>
{% endblock%}