{% extends "baseAdmin.html" %}
{% block content %}
{% load tag_library %}
{% load staticfiles %}
<style>
    .list-nav-style >li .ser{
        border-bottom: 1.5px solid rgb(55, 189, 194);
    }
</style>
<section class="section-cont">
    <div class="container contenedor">
        <div class="row">
            <div class="col-lg-4 col-md-4"></div>
            <div class="col-lg-4  col-md-4">
                    <h4 class="titulo-prin" style="text-align: center">Servicios</h4>
            </div>
            <div class="col-lg-4 col-md-4" style="text-align:right;">
                <a data-toggle="modal" data-target="#myModalServicio">
                    <img src="{% static 'FitApp/img/iconoAgregar.png' %}" alt="fitory" class="icon-plus">
                </a>
                <a href="/excel/servicios/"  download="Servicios">
                    <img src="{% static 'FitApp/img/iconoExcel.png' %}" alt="fitory" class="icon-excel">
                </a>
            </div>
            {%if servicios%}
                <div class="col-md-12" style="padding-top:3%;">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="tabla-head">
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Icono</th>
                                    <th>Editar</th>
                                    <th>Borrar</th>
                                </tr>
                            </thead>
                            <tbody class="tabla-body">
                                {%for s in servicios%}
                                    <tr>
                                        <td>{{s.id}}</td>
                                        <td>{{s.nombre}}</td>
                                        <td>
                                            <img src="{{s.icono.url}}" alt="{{s.nombre}}" style="width:25px">
                                        </td>
                                        <td>
                                            <a data-toggle="modal" data-target="#editServicio{{s.id}}">
                                                <i class="fa fa-pencil color-icon"></i>
                                            </a>
                                        </td>
                                        <td>
                                            {%if servicioDatos%}
                                                {%for servicio,respuesta in servicioDatos%}
                                                    {%if servicio == s and respuesta == True%}
                                                        <a data-toggle="tooltip" data-placement="top" title="No se pueden borrar servicios con información relacionada.">
                                                            <i class="fa fa-times color-icon"></i>
                                                        </a>
                                                    {%elif servicio == s and respuesta == False%}
                                                        <a data-toggle="modal" data-target="#deleteServicio{{s.id}}">
                                                            <i class="fa fa-times color-icon"></i>
                                                        </a>
                                                    {%endif%}
                                                {%endfor%}
                                            {%endif%}
                                        </td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="container" style="text-align:center">
                                {%if servicios.has_other_pages%}
                                    <ul class="pagination">
                                        {% if servicios.number == 1 %}
                                            <li class="disabled"><span>⇤</span></li>
                                        {% else %}
                                            <li><a class="page-link" href="?{% url_replace request 'page' 1 %}">⇤</a></li>
                                        {% endif %}
                                        {% if servicios.has_previous %}
                                            <li><a class="page-link" href="?{% url_replace request 'page' servicios.previous_page_number %}">&laquo;</a></li>
                                        {% else %}
                                            <li class="disabled"><span>&laquo;</span></li>
                                        {% endif %}
                                        {% for i in servicios.paginator|proper_paginate:servicios.number %}
                                            {% if servicios.number == i %}
                                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                            {% else %}
                                                <li><a class="page-link" href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if servicios.has_next %}
                                            <li><a class="page-link" href="?{% url_replace request 'page' servicios.next_page_number %}">&raquo;</a></li>
                                        {% else %}
                                            <li class="disabled"><span>&raquo;</span></li>
                                        {% endif %}
                                        {% if servicios.number == servicios.paginator.num_pages %}
                                            <li class="disabled"><span>⇥</span></li>
                                        {% else %}
                                            <li><a class="page-link" href="?{% url_replace request 'page' servicios.paginator.num_pages %}">⇥</a></li>
                                        {% endif %}
                                    </ul>
                                {%endif%}
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            {%else%}
                <div class="col-md-12" style="text-align: center">
                    <p>No hay servicios registrados.</p>
                </div>
            {%endif%}
        </div>
    </div>
</section>
    
    {%if servicios%}
        {%for s in servicios%}
            <!-- Modal -->
            <div class="modal fade" id="editServicio{{s.id}}" role="dialog">
                <div class="modal-dialog">    
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel{{s.id}}">Editar Servicio {{s.id}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form name="formEditServicio" action="/editServicio/" method="post" enctype="multipart/form-data" autocomplete="off">
                            {% csrf_token %}
                            <input type="hidden" name="servicio" value="{{s.id}}">
                            <div class="modal-body">
                                <div class="md-form">
                                    <p class="text-modal">Nombre</p>
                                    <input type="text" id="nombre{{s.id}}" name="nombre" required="required" value="{{s.nombre}}" class="form-modal">
                                    <div class="lin-input-der"></div>
                                    <div class="lin-input-izq"></div>
                                </div>
                                <div class="md-form">
                                    <p class="text-modal">
                                        Icono actual:
                                    </p>
                                    <div class="cont-url">
                                        <a href="{{s.icono.url}}" target="_blank" class="url-icon">{{s.icono.url}}</a>
                                        <div class="lin-input-der"></div>
                                        <div class="lin-input-izq"></div>
                                    </div>
                                </div>
                                <div class="md-form">
                                    <div class="file-field">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="btn-archivo">
                                                    <span>Elija un archivo</span>
                                                    <input type="file" id="icono{{s.id}}" name="icono" accept="image/x-png,image/jpeg">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div style="position:relative;">
                                                    <input class="file-path validate form-modal" type="text" placeholder="Elija un archivo">
                                                    <div class="lin-input-der"></div>
                                                    <div class="lin-input-izq"></div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" name="action" class="btn btn-save">GUARDAR</button>
                            </div>
                        </form>
                    </div>      
                </div>
            </div>
            <!--Fin modal-->
            <!-- Modal -->
            <div class="modal fade" id="deleteServicio{{s.id}}" role="dialog">
                <div class="modal-dialog">    
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Borrar Servicio {{s.id}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="text-align: center">
                            <p class="text-modal">¿ Desea eliminar el servicio "{{s.nombre}}" ?</p>
                            <a href="/deleteServicio/{{s.id}}/" class="btn btn-delete">Si</a>
                            <a class="btn btn-delete" data-dismiss="modal">No</a>
                        </div>
                    </div>      
                </div>
            </div>
            <!--Fin modal-->
        {%endfor%}
    {%endif%}
    <!-- Modal -->
    <div class="modal fade" id="myModalServicio" role="dialog">
        <div class="modal-dialog">    
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Servicio</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form name="formAddServicio" action="/addServicio/" method="post" enctype="multipart/form-data" autocomplete="off">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="md-form">
                            <p class="text-modal">Nombre</p>
                            <input type="text" id="nombre" name="nombre" required="required" class="form-modal" placeholder="Nombre Servicio">
                            <div class="lin-input-der"></div>
                            <div class="lin-input-izq"></div>
                        </div>
                        <div class="md-form">
                            <div class="file-field">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="btn-archivo">
                                            <span>Elija un archivo</span>
                                            <input type="file" id="icono{{s.id}}" name="icono" accept="image/x-png,image/jpeg">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div style="position:relative;">
                                            <input class="file-path validate form-modal" type="text" placeholder="Elija un archivo">
                                            <div class="lin-input-der"></div>
                                            <div class="lin-input-izq"></div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="modal-footer" style="border:0px">
                        <button type="submit" name="action" class="btn btn-save">GUARDAR</button>
                    </div>
                </form>
            </div>      
        </div>
    </div>
    <!--Fin modal-->
{% endblock%}