{% extends "baseAdmin.html" %}
{% block content %}
{% load tag_library %}
{% load staticfiles %}
<style>
.list-nav-style >li .est{
    border-bottom: 1.5px solid rgb(55, 189, 194);
}
</style>
<section class="section-cont">
    <div class="container contenedor">
        <div class="row">
            <div class="col-md-4">
                <a href="/homeAdminEstados/" class="btn-atras">
                    <i class="fa fa-chevron-left color-atras"></i>
                </a>
            </div>
            <div class="col-md-4">
                <h4 class="titulo-prin" style="text-align: center">Ciudades</h4>        
            </div>
            <div class="col-lg-4  col-md-4" style="text-align:right;">
                <a data-toggle="modal" data-target="#myModalCiudad">
                    <img src="{% static 'FitApp/img/iconoAgregar.png' %}" alt="fitory" class="icon-plus">
                </a>
                <a href="/excel/estados/{{estado.id}}/ciudades/" download="{{estado}}_Ciudades">
                    <img src="{% static 'FitApp/img/iconoExcel.png' %}" alt="fitory" class="icon-excel">
                </a>
            </div>
            {%if ciudades%}
                <div class="col-md-12" style="padding-top:3%;">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="tabla-head">
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Editar</th>
                                    <th>Borrar</th>
                                </tr>
                            </thead>
                            <tbody class="tabla-body">
                                {%for c in ciudades%}
                                    <tr>
                                        <td>{{c.id}}</td>
                                        <td>{{c.nombre}}</td>
                                        <td>
                                            <a data-toggle="modal" data-target="#editCiudad{{c.id}}">
                                                <i class="fa fa-pencil color-icon"></i>
                                            </a>
                                        </td>
                                        <td>
                                            {%if ciudadDatos%}
                                                {%for ciudad,respuesta in ciudadDatos%}
                                                    {%if ciudad == c and respuesta == True%}
                                                        <a data-toggle="tooltip" data-placement="top" title="No se pueden borrar ciudades con información relacionada.">
                                                            <i class="fa fa-times color-icon"></i>
                                                        </a>
                                                    {%elif ciudad == c and respuesta == False%}
                                                        <a data-toggle="modal" data-target="#deleteCiudad{{c.id}}">
                                                            <i class="fa fa-times color-icon"></i>
                                                        </a>
                                                    {%endif%}
                                                {%endfor%}
                                            {%endif%}
                                        </td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="container" style="text-align:center">
                                {%if ciudades.has_other_pages%}
                                    <ul class="pagination">
                                        {% if ciudades.number == 1 %}
                                            <li class="disabled"><span>⇤</span></li>
                                        {% else %}
                                            <li><a class="page-link" href="?{% url_replace request 'page' 1 %}">⇤</a></li>
                                        {% endif %}
                                        {% if ciudades.has_previous %}
                                            <li><a class="page-link" href="?{% url_replace request 'page' ciudades.previous_page_number %}">&laquo;</a></li>
                                        {% else %}
                                            <li class="disabled"><span>&laquo;</span></li>
                                        {% endif %}
                                        {% for i in ciudades.paginator|proper_paginate:ciudades.number %}
                                            {% if ciudades.number == i %}
                                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                            {% else %}
                                                <li><a class="page-link" href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if ciudades.has_next %}
                                            <li><a class="page-link" href="?{% url_replace request 'page' ciudades.next_page_number %}">&raquo;</a></li>
                                        {% else %}
                                            <li class="disabled"><span>&raquo;</span></li>
                                        {% endif %}
                                        {% if ciudades.number == ciudades.paginator.num_pages %}
                                            <li class="disabled"><span>⇥</span></li>
                                        {% else %}
                                            <li><a class="page-link" href="?{% url_replace request 'page' ciudades.paginator.num_pages %}">⇥</a></li>
                                        {% endif %}
                                    </ul>
                                {%endif%}
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            {%else%}
                <div class="col-md-12" style="text-align: center">
                    <p>No hay ciudades registradas.</p>
                </div>
            {%endif%}
        </div>
    </div>
</section>
    
    {%if ciudades%}
        {%for c in ciudades%}
            <!-- Modal -->
            <div class="modal fade" id="editCiudad{{c.id}}" role="dialog">
                <div class="modal-dialog">    
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Editar Ciudad {{c.id}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form name="formEditCiudad" action="/editCiudad/" method="post" enctype="multipart/form-data" autocomplete="off">
                            {% csrf_token %}
                            <input type="hidden" name="ciudad" value="{{c.id}}">
                            <div class="modal-body">
                                <div class="md-form">
                                    <p class="text-modal">Nombre</p>
                                    <input type="text" id="nombre{{c.id}}" name="nombre" required="required" value="{{c.nombre}}" class="form-modal">
                                    <div class="lin-input-der"></div>
                                    <div class="lin-input-izq"></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" name="action" class="btn btn-save">GUARDAR</button>
                            </div>
                        </form>
                    </div>      
                </div>
            </div>
            <!--Fin modal-->
            <!-- Modal -->
            <div class="modal fade" id="deleteCiudad{{c.id}}" role="dialog">
                <div class="modal-dialog">    
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Borrar Ciudad {{c.id}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="text-align: center">
                            <p class="text-modal">¿ Desea eliminar la ciudad "{{c.nombre}}" ?</p>
                            <a href="/deleteCiudad/{{c.id}}/" class="btn btn-delete">Si</a>
                            <a class="btn btn-delete" data-dismiss="modal">No</a>
                        </div>
                    </div>      
                </div>
            </div>
            <!--Fin modal-->
        {%endfor%}
    {%endif%}
    <!-- Modal -->
    <div class="modal fade" id="myModalCiudad" role="dialog">
        <div class="modal-dialog">    
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Ciudad</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form name="formAddCiudad" action="/addCiudad/" method="post" enctype="multipart/form-data" autocomplete="off">
                    {% csrf_token %}
                    <input type="hidden" name="estado" value="{{estado.id}}">
                    <div class="modal-body">
                        <div class="md-form">
                            <p class="text-modal">Nombre</p>
                            <input type="text" id="nombre" name="nombre" required="required" class="form-modal" placeholder="Nombre Ciudad">
                            <div class="lin-input-der"></div>
                            <div class="lin-input-izq"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="action" class="btn btn-save">GUARDAR</button>
                    </div>
                </form>
            </div>      
        </div>
    </div>
    <!--Fin modal-->
{% endblock%}