{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<section class="sect-paquetes d-flex align-items-center">  
    <form action="/PagoMensualplan/" method="POST" autocomplete="off" style="width:100%;" id="payment-form">
        {% csrf_token %}
        <input type="hidden" name="sucursal" value="{{sucursal.id}}">
        <input type="hidden" name="cliente" value="{{usuario.id}}">
        <input type="hidden" name="mensualidad" value="{{sucursal.mensualidad}}">
        <div class="row d-flex align-items-center cont-paq">
            <div class="container" id="cont-plan-web">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <h4 class="raleway-regular paq-h4">CONTRATAR PLAN</h4>
                        <div class="suscripcion-d mt-100">
                            <hr class="line-blue"><a href="/Contratar-plan-mensual/{{sucursal.id}}"> <label class="mb-0 ml-15 label-suscripciones raleway-bold">PLAN MENSUAL</label></a>
                        </div>        
                        <div class="suscripcion-d mt-15">
                            <hr class="line-dark"><a href="/Contratar-plan-diario/{{sucursal.id}}"><label class="mb-0 ml-15 label-suscripciones raleway-regular">PLAN DIARIA</label></a>
                        </div>                     
                        <div class="suscripcion-d mt-15">
                            <hr class="line-dark"><a href="/Contratar-plan-free/{{sucursal.id}}"><label class="mb-0 ml-15 label-suscripciones raleway-regular">DIAS DE PRUEBA</label></a>
                        </div>  
                        <div class="col-lg-8 col-md-12 mt-5">
                            {%if request.user.is_authenticated and not user.is_staff%}
                                <p class="text-secl-tarj">Seleccionar tarjeta</p>
                                
                                    {%if listaMetodos%}
                                    <select name="tarjeta" class="browser-default custom-select select-tarj" required id="tarjeta">
                                        <option value="" disabled selected>Tarjetas</option>
                                        {%for m in listaMetodos%}
                                            <option value="{{m.id}}" >{{m.brand}}</option>
                                        {%endfor%}
                                    </select>
                                    <div class="md-form text-center">
                                        <button type="sumbit" name="action" id="pagar" class="btn btn-pagar">
                                            Pagar
                                        </button>
                                    </div>
                                    {%else%}
                                        <a href="/Mis-tarjetas/" class="text-addT">Agrega una tarjeta para continuar</a><br><br>
                                    {%endif%}
                                
                                
                            {%else%}
                                <div class="md-form text-center">
                                    <a href="/Iniciar-Sesion/" class="btn btn-pagar">
                                        Inicia Sesión
                                    </a>
                                </div>
                            {%endif%}
                           
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 d-flex align-items-center">
                        <div class="row">
                            <div class="col-lg-3 col-md-1"></div>
                            <div class="col-lg-8 col-md-10" style="padding-left:0px;">
                                <p class="texto-suscripcion-m raleway-regular">
                                    Ideal para personas de alto rendimiento. Accede de forma ilimitada a los servicios del Club durante un Mes Completo. Para facilitar tu pago el servicio se renovará automáticamente. Puedes cancelar el cobro recurrente en cualquier momento.
                                </p>
                                <div class="card-precio">
                                    <p class="text-pago-plan">Precio Mes: <span class="span-pago-plan">${{sucursal.mensualidad}} MXN</span></p>     
                                </div>       
                            </div>
                            <div class="col-lg-1 col-md-1"></div>
                        </div>
                        <div class="lin-neg-text"></div>
                    </div>      
                </div>
            </div> 
            <div class="container-fluid" id="cont-plan-mobl">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <h4 class="raleway-regular paq-h4">CONTRATAR PLAN</h4>
                        <div class="suscripcion-d mt-100">
                            <hr class="line-blue"><a href="/Contratar-plan-mensual/{{sucursal.id}}"> <label class="mb-0 ml-15 label-suscripciones raleway-bold">SUSCRIPCIÓN MENSUAL</label></a>
                        </div>        
                        <div class="suscripcion-d mt-15">
                            <hr class="line-dark"><a href="/Contratar-plan-diario/{{sucursal.id}}"><label class="mb-0 ml-15 label-suscripciones raleway-regular" onclick="CambioS()">SUSCRIPCIÓN DIARIO</label></a>
                        </div>  
                        <div class="suscripcion-d mt-15">
                            <hr class="line-dark"><a href="/Contratar-plan-free/{{sucursal.id}}"><label class="mb-0 ml-15 label-suscripciones raleway-regular">DIAS DE PRUEBA</label></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 d-flex align-items-center mt-5">
                        <div class="row">
                            <div class="col-lg-3 col-md-1"></div>
                            <div class="col-lg-8 col-md-10">
                                <p class="texto-suscripcion-m raleway-regular">
                                    Ideal para personas de alto rendimiento. Accede de forma ilimitada a los servicios del Club durante un Mes Completo. Para facilitar tu pago el servicio se renovará automáticamente. Puedes cancelar el cobro recurrente en cualquier momento.
                                </p>
        
                                <div class="card-precio">
                                    <p class="text-pago-plan">Precio Mes: <span class="span-pago-plan">${{sucursal.mensualidad}} MXN</span></p>     
                                </div>       
                            </div>
                            <div class="col-lg-1 col-md-1"></div>
                        </div>
                        <div class="lin-neg-text"></div>
                    </div>    
                    <div class="col-lg-8 col-md-8 mt-3">
                        {%if request.user.is_authenticated and not user.is_staff%}
                            <p class="text-secl-tarj">Seleccionar tarjeta:</p>
                            {%if listaMetodos%}
                            <select name="tarjeta" class="browser-default custom-select select-tarj" required>
                                <option value="" disabled selected>Tarjetas</option>
                                {%for m in listaMetodos%}
                                    <option value="{{m.id}}" >{{m.brand}}</option>
                                {%endfor%}
                            </select>
                            <div class="md-form text-center">
                                <button type="sumbit" name="action" id="pagar" class="btn btn-pagar">
                                    Pagar
                                </button>
                            </div>
                            {%else%}
                                <a href="/Mis-tarjetas/" class="text-addT">Agrega una tarjeta para continuar</a><br><br>
                            {%endif%}
                        
                        {%else%}
                            <div class="md-form text-center">
                                <a href="/Iniciar-Sesion/" class="btn btn-pagar">
                                    Inicia Sesión
                                </a>
                            </div>
                        {%endif%}
                    </div>  
                </div>
            </div> 
        </div>
    </form>   

<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Hubo algin error intentelo de nuevo mas tarde</p>
                <a data-dismiss="modal" >Aceptar</a>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock%}